# .gitignore for Bytemeuh.com

# General Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# Dependency directories
jspm_packages/
bower_components/
node_modules/

# Build files
dist/
build/

# IDE-specific files (PhpStorm)
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env.local
.env.*.local

# Optional npm cache directory
.npm