{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <h1 class="text-3xl font-bellyDisplay uppercase text-center">{{ article.title }}</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 sm:gap-8">
            {{ article.content|raw }}
        </div>
    </div>
{% endblock %}