{% extends 'base.html.twig' %}

{% block metadescription %}Bienvenue sur Bytemeuh, votre site pour découvrir des articles captivants et apprendre qui nous sommes.{% endblock %}
{% block metakeywords %}Bytemeuh, articles, catégories, informations, qui sommes-nous{% endblock %}
{% block title %}Bytemeuh - Accueil{% endblock %}

{% block body %}
<main class="container mx-auto my-8">
    <section id="welcome">
        <div class="flex items-center">
            <img src="{{ asset('images/bytemeuh.webp') }}" alt="Logo Bytemeuh" class="w-60">
            <div class="mx-6">
                <h1 class="text-3xl font-bold mb-8">NOS ARTICLES</h1>
            </div>
        </div>
    </section>
    <section id="articles">
        <h2 class="text-3xl font-bold text-center mb-8">Consulter nos derniers articles vachement tech !</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for article in articles %}
                {% include 'parts/articleCard.html.twig' with {'article': article} %}
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
