{% extends 'base.html.twig' %}

{% block metadescription %}Mentions légales de Bytemeuh.com, un site édité par Maxence MENARD pour les fans de tech et d'humour.{% endblock %}
{% block metakeywords %}Mentions légales, Bytemeuh, Maxence MENARD, ESGI, propriété intellectuelle{% endblock %}
{% block title %}Bytemeuh - Mentions Légales{% endblock %}

{% block body %}
    <main>
        <div id="mentions-legales">
            <h1>Mentions légales du site <a href="https://bytemeuh.com"><strong>https://bytemeuh.com</strong></a></h1>
            <section>
                <h2>Éditeur du site :</h2>
                <p><a href="https://bytemeuh.com"><strong>Bytemeuh.com</strong></a> est édité par Maxence MENARD, étudiant à l'ESGI Paris.</p>
                <p>Contact : <a href="mailto:maxence@bytemeuh.com">maxence@bytemeuh.com</a></p>
            </section>
            <section>
                <h2>Hébergeur :</h2>
                <p>Le site <a href="https://bytemeuh.com"><strong>Bytemeuh.com</strong></a> est hébergé par Maxence MENARD sur ses propres moyens.</p>
            </section>
            <section>
                <h2>Propriété intellectuelle :</h2>
                <p>Les textes et la charte graphique du site sont la propriété exclusive de Maxence MENARD. Les images sont générées par intelligence artificielle et ne sont pas sous sa propriété, sauf mention contraire.</p>
            </section>
            <section>
                <h2>Authenticité des actualités :</h2>
                <p>Les actualités présentes sur le site sont réelles et récupérées de véritables sites d'actualité tech, sauf mention contraire. Toute actualité comportant la mention "généré par IA" n'est pas réelle et a un simple but humoristique.</p>
            </section>
            <section>
                <h2>Contact :</h2>
                <p>Pour toute question ou réclamation, veuillez écrire à : <a href="mailto:contact@bytemeuh.com">contact@bytemeuh.com</a></p>
            </section>
        </div>
    </main>
{% endblock %}