{% extends 'base.html.twig' %}

{% block metadescription %}Bytemeuh.com, c'est le site tech vachement cool qui décrypte l'actu numérique avec humour et expertise. Découvrez notre histoire et notre mission !{% endblock %}
{% block metakeywords %}Qui sommes-nous, Bytemeuh, Maxence MENARD, ESGI, propriété intellectuelle{% endblock %}
{% block title %}Bytemeuh - Qui sommes-nous ?{% endblock %}

{% block body %}
    <main class="container mx-auto my-8 p-6 bg-white shadow-lg rounded-lg">
        <h1 class="text-3xl font-bold text-center mb-8">
            Qui sommes-nous ?
        </h1>
        <section id="actu-tech" class="space-y-6">
            <h2 class="text-3xl font-bold text-center text-primary-color">
                L’actu tech, mais avec une touche d’humour
            </h2>
            <p class="text-lg">
                Sur
                <a href="https://bytemeuh.com" class="text-tertiary-color hover:text-tertiary-hover-color font-semibold">
                    Bytemeuh.com
                </a>, nous croyons que la technologie n’est pas réservée aux experts. Grâce à nos articles accessibles
                et émaillés de vannes bien senties, la tech devient un terrain de jeu pour tous. Nos guides high-tech
                et tutoriels simples sont là pour vous accompagner dans votre parcours, que vous soyez débutant ou geek confirmé.
            </p>
            <p class="text-lg">
                Vous vous demandez peut-être :
                <span class="italic font-semibold">« Pourquoi la tech, c’est vachement cool ? »</span>
                Parce que chaque innovation, qu’elle concerne une vache connectée ou une IA futuriste, cache une histoire fascinante.
                Et notre mission est de la raconter avec humour et passion.
            </p>
        </section>

        <section id="pourquoi-bytemeuh" class="mt-12 space-y-6">
            <h2 class="text-3xl font-bold text-center text-primary-color">
                Pourquoi choisir Bytemeuh pour vos besoins en actualité tech ?
            </h2>
            <div class="space-y-4">
                <p class="text-lg">
                    <strong class="text-tertiary-color">Un site tech décalé</strong> : Ici, on allie contenu sérieux et ton humoristique.
                    Parce que suivre l’actu geek peut être fun !
                </p>
                <p class="text-lg">
                    <strong class="text-tertiary-color">Une tech accessible</strong> : Nos articles décryptent les technologies complexes
                    pour les rendre compréhensibles par tous.
                </p>
                <p class="text-lg">
                    <strong class="text-tertiary-color">Des actualités sourcées</strong> : Chez nous, chaque info vient de sources fiables.
                    Pas de fake news, juste des vérités vachement cool !
                </p>
            </div>
        </section>

        <section id="quoi-bytemeuh" class="mt-12 space-y-6">
            <h2 class="text-3xl font-bold text-center text-primary-color">
                Ça veut dire quoi Bytemeuh ?
            </h2>
            <p class="text-lg">
                Le mot-valise
                <a href="https://bytemeuh.com" class="text-tertiary-color hover:text-tertiary-hover-color font-semibold">
                    Bytemeuh
                </a>
                est né dans le cadre d'un défi SEO entre 26 élèves, où chaque participant doit optimiser son propre site
                pour obtenir la meilleure place sur Google. Ce terme inventé n’avait aucune existence sur le web, permettant ainsi
                de lancer une compétition où chaque élève met ses compétences SEO à l’épreuve. À la fin du semestre, le site avec le
                meilleur référencement et les pratiques SEO les plus pointues sera couronné vainqueur !
            </p>
            <p class="text-lg">
                J’ai choisi d’utiliser le mot
                <strong class="text-tertiary-color">"Bytemeuh"</strong>
                pour créer un site tech alliant
                <span class="font-semibold">"byte"</span> (l'unité de données)
                et l’onomatopée
                <span class="font-semibold">"meuh"</span>
                de la vache. Ce site adopte un ton décontracté et humoristique avec un style "vacheresque" tout en offrant
                des articles sérieux et fiables, sourcés auprès des plus grands experts du monde de la tech.
            </p>
        </section>
    </main>
{% endblock %}
