<div class="bg-white shadow-md rounded">
    <div class="p-4">
        <h2 class="text-xl font-semibold mb-2">{{ category.title }}</h2>
        <a href="{{ path('app_category', {slug: category.slug}) }}" class="text-primary-color hover:underline">Voir la catégorie</a>
    </div>
</div>