<footer class="mt-auto bg-primary-color text-secondary-color text-center py-4">
    <p class="mb-2">
        <a href="{{ path('app_legal_notice') }}" class="hover:underline">Mentions légales</a> |
        <a href="{{ path('app_terms_of_use') }}" class="hover:underline">Conditions Générales d’Utilisation</a>
    </p>
    <p>Tout droits réservés © 2025</p>
</footer>