<footer class="mt-auto bg-primary-color text-secondary-color text-center py-4">
    <p class="mb-2">
        <a href="/mentions-legales" class="hover:underline">Mentions légales</a> |
        <a href="/conditions-generales" class="hover:underline">Conditions Générales d’Utilisation</a>
    </p>
    <p>Tout droits réservés © 2025</p>
</footer>